server/pio
server/vscode
server/src2
pyServ/.env
pyServ/mosquitto
pyServ/__pycache__
pyServ/.idea
*.iml
.gradle
/local.properties
SHClient/.idea
SHClient/.DS_Store
SHClient/build
SHClient/captures
SHClient/.externalNativeBuild
SHClient/.cxx
SHClient/local.properties

